
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Sammy’s First Website </title>
  <link rel="shortcut icon" type="image/jpg" href="images/small-profile.jpeg"/>
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@digitalocean" />
  <meta name="twitter:title" content="Sammy the Shark" />
  <meta name="twitter:description" content="Senior Selachimorpha at DigitalOcean"/>
  <meta name="twitter:image" content="https://html.sammy-codes.com/images/large-profile.jpg"/>
  
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Sammy the Shark" />
  <meta property="og:description" content="Senior Selachimorpha at DigitalOcean"/>
  <meta property="og:url" content="https://html.sammy-codes.com/" />
  <meta property="og:image" content="https://html.sammy-codes.com/images/large-profile.jpg"/>
</head>

<body style="margin:0;">

  <!--First section-->
  <div style="background-image: url('images/background.jpg');
  background-size: cover; height:480px; padding-top:80px; text-align:center;">
    <img src="images/small-profile.jpeg" style="height:150px; border-radius: 50%; border: 10px solid #01f7c2;" alt="This is a small profile image of Digital Ocean’s mascot, a blue smiling shark." >
    <h1 style="font-size:100px; color:white; margin:10px;">Sammy the Shark</h1>
    <p style="font-size:30px; color: white;"><em>Senior Selachimorpha at DigitalOcean</em></p>
    <p style="font-size: 20px; color:#01f7c2;"><a href="about.html">About this site</a></p>
  </div>

  <!--Second section-->
  <table>
    <tr>
      <td>
        <img src="images/large-profile.jpg" style="height:600px; margin:70px; margin-left:100px;" alt="This is a large profile image of a pretend invisible person wearing a hat, glasses, and coat." />
      </td>
      <td valign="top" style="padding-top:45px; padding-right:110px; padding-left:40px;">
      <font color>="gold">Owner of this Server is: {{ owner }}<br>
        <h1>
          Hello </h1>
        <p style="line-height: 2.0; font-size:20px;">
          This COOL WebServer Generated by Ansible. </p>
        <p style="line-height: 2.0; font-size:20px;">
        Server Host Name : {{ ansible_hostname }}<br>
        Server OS family is: {{ ansible_os_family }}<br>
        IP Address of this Server is: {{ ansible_default_ipv4.address }}<br> 
          Email me at <a href="mailto:Sammy@SampleEmail.com">Sammy@SampleEmail.com </a></p>
      </td>
    </tr>
  </table>


  <!--Footer-->
  <div style="height:auto; background-color:#01f7c2;">
  <h1 style="color:white; padding:40px; margin:0; text-align:center;">Made with 🤍 at DigitalOcean</h1>
  </div>


</body>

</html>
